<table class="table table-striped col-12 moviesIndex">
  <thead>
    <tr>
      <th>Title</th>
      <th>Favorite</th>
    </tr>
  <tbody>
    <tr ng-repeat="favorite in favorites track by favorite.id" ng-click="showMovie(favorite.imdb_id)">
      <th>{{ favorite.title }}</th>
      <th><span class="favorite glyphicon glyphicon-star" ng-click="toggleFavorite($event, favorite)"></span>
    </tr>
  </tbody>
</table>